#hamburger_menu {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin: 100px auto 0 auto;

  .hamburger_bar {
    position: absolute;
    background-color: black;
    left: 0;
    width: 120px;
    height: 12px;
    border-radius: 100px;
    transition: all 0.6s ease;
  }
  .bar_1 {
    top: 0px;
  }

  .bar_2 {
    top: 50%;
  }
  .bar_3 {
    top: 100%;
  }

  .active_bar_1 {
    top: 50%;
    transform: rotate(315deg);
  }

  .active_bar_2 {
    opacity: 0;
  }

  .active_bar_3 {
    top: 50%;
    transform: rotate(-315deg);
  }
}
