#opening_animation {
  .loading {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: all 1s ease;
    opacity: 1;
    visibility: visible;

    .loading_animation {
      position: fixed;
      top: 50%;
      left: 50%;
      transition: all 1s;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;

      img {
        width: 600px;
        height: 600px;
      }
    }

    .loading_animation.is_active {
      opacity: 1;
      visibility: visible;
    }
  }

  .loading.is_active {
    opacity: 0;
    visibility: hidden;
  }
}
