#opening_animation {
  .start {
    display: none;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    #animation_img {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 990;
      width: 500px;
    }
  }

  .active_animation {
    display: block;
  }
}
