@use "./variables" as var;

#slide_show {
  .swiper {
    width: 100%;
    height: 400px;

    .swiper-scrollbar {
      display: none;
    }

    .swiper-button-next {
      color: var.$main_color !important;
    }

    .swiper-button-prev {
      color: var.$main_color !important;
    }

    .swiper-pagination-progressbar-fill {
      background-color: var.$main_color !important;
    }

    .swiper-pagination-bullet {
      background-color: var.$main_color !important;
    }

    .swiper-wrapper {
      .swiper-slide {
        &:nth-child(1) {
          background: url("../img/item1.jpg") 50% 30% no-repeat;
        }
        &:nth-child(2) {
          background: url("../img/item2.jpg") center no-repeat;
        }
        &:nth-child(3) {
          background: url("../img/item3.jpg") center no-repeat;
        }
      }
    }
  }
}
