@use "./variables" as var;

#step {
  display: flex;
  align-items: center;
  justify-content: center;

  .step {
    .block {
      position: relative;
      margin-bottom: 30px;

      .square {
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        background-color: var.$main_color;
        color: white;
      }
      .triangle {
        position: relative;
        z-index: 100;
        width: 120px;
        height: 30px;
        border-top: solid 30px var.$main_color;
        border-left: solid 60px transparent;
        border-right: solid 60px transparent;
      }
      &::before {
        z-index: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 10px;
        height: 80px;
        background-color: var.$base_color;
      }
      &:last-child::before {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
