@use "./variables" as var;
@use "./header";
@use "./side_menu_section";
@use "./slide_show";
@use "./parallax";
@use "./rellax_js";
@use "./grid";
@use "./slide_in";
@use "./sticky";
@use "./contact";
@use "./google_map";
@use "./step";
@use "./movie";
@use "./card";
@use "./background_color_change";
@use "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //簡単スクロール
  // scroll-behavior: smooth;

  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var.$text_color;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6%;
}

section {
  margin-bottom: 80px !important;
}
